.text {
  margin: 20px auto;
  width: 50%;
}

.text p{
  font-style: italic;
  text-align: center;
}

.bar {
  height: 5px;
  margin: 0 auto;
  width: 50%;
  border-radius: 2px;
  background-color: var(--colour);
}