.section {
  margin: 20px;
}

.items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 50px;
  margin: 0 10px;
}

.item {
  box-shadow: 1px 1px 5px grey;
  display: flex;
  flex-direction: column;
}

.image { 
  height: 250px;
  object-fit: cover;
  width:254px;
}

.banner {
  align-items: center;
  background-color: var(--colour);
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  width: 234px;
}

.modal {
  background: none;
  border: none;
  cursor: pointer;
}

.download {
  margin-right: 4px;
}
